@import "base.css";

.content {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}
.choose-button {
    display: inline-block;
}
.choose-poem {
    text-align: right;
}
.choose-couplet {
    text-align: left;
}
h1 {
    text-align: left;
}