@import "base.css";

.content {
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}

.logo_top {
    max-width: 80vw;
}
.choose-button {
    display: inline-block;
}
.choose-poem {
    text-align: right;
}
.choose-couplet {
    text-align: left;
}
.outcome_img {
    display: inline-block;
}
.bottom-img {
    display: inline-block;
}
h1 {
    text-align: left;
}